/* SELECTION COLORS*/
::selection {
    background:#f09e9e;
    color:white;
}
 
::moz-selection {
    background:#f09e9e;
    color:white;
}
 
::webkit-selection {
    background:#f09e9e;
    color:white;
}

/* SCROLLBAR */
::-webkit-scrollbar {
width:10px;
height: 8px;
}

::-webkit-scrollbar-thumb {
background-color:#f7c788;
border: 1px black;
}

::-webkit-scrollbar-track {
background-color:white;
}

/* BASIC */
body {
  font-family:'Open Sans', sans-serif;
  background-image:url(https://66.media.tumblr.com/971dadcd5d7b7caa6bd236bebf8e9d46/tumblr_inline_mtkflt7JaD1qak244.png);
}


#navi {
  background-color:black;
}
.navbar {
  text-transform:uppercase;
  font-size:.8em;
  letter-spacing:1px;
}

a.title {
  font-weight:700;
  color:#c6d984;
  font-size:1.2rem;
  letter-spacing:2px;
}

a:hover.title {
  text-decoration:none;
  color:#9de0f5;
    -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.dropdown-item {
  font-size:.8em;
  letter-spacing:1px;
  text-transform:capitalize;
  color:#90a158;
  font-weight:550;
}

a.dropdown-item  {
    -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a:hover.dropdown-item {
    -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.icon {
  width:40px;
  height:40px;
  margin:10px;
  display:inline;
  border-radius:40px;
}

.form-group {
  display:inline;
  max-width:300px;
  margin:5px;
}

/* CARDS */

.card-group {
  margin:100px;
  position:center;
}

.card1, .card2, .card3 {
  width:31.5%;
  margin:10px;
  display:inline;
  border:1px solid #ccc;
  border-radius:7px;
  background:white;
  height:100%;
}

a.card-title {
  font-family:'Roboto Slab', serif;
  text-transform:uppercase;
  border-bottom:2px dashed #7bd8ed;
  letter-spacing:2px;
  font-size:1.5rem;
}

p.card-text {
  margin-top:10px;
  font-size:.9rem;
  letter-spacing:0px;
}

.card-body{
  letter-spacing:0px;
  font-size:1em;
}

/* BUTTON */
.btn {
  background-color:#cc5c5c;
  border:1px solid #cc5c5c;
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:.7rem;
}

.btn:hover {
  background-color:#e8b0b0;
  border:1px solid #e8b0b0;
}

/* BACK TO TOP */
.backtotop {
  float:right;
  margin-right:20px;
}

.backtotop a {
  color:#d45050;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.backtotop a:hover {
  color:lightgrey;
  text-decoration:none;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}